<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.core.mapper.GsUserIntegralLogMapper">
    
    <resultMap type="GsUserIntegralLog" id="GsUserIntegralLogResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="tradTime"    column="trad_time"    />
        <result property="credits"    column="credits"    />
        <result property="type"    column="type"    />
        <result property="userId"    column="user_id"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectGsUserIntegralLogVo">
        select id, name, trad_time, credits, type, user_id, remark from gs_user_integral_log
    </sql>

    <select id="selectGsUserIntegralLogList" parameterType="GsUserIntegralLog" resultMap="GsUserIntegralLogResult">
        <include refid="selectGsUserIntegralLogVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="tradTime != null "> and trad_time = #{tradTime}</if>
            <if test="credits != null "> and credits = #{credits}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectGsUserIntegralLogById" parameterType="String" resultMap="GsUserIntegralLogResult">
        <include refid="selectGsUserIntegralLogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGsUserIntegralLog" parameterType="GsUserIntegralLog" useGeneratedKeys="true" keyProperty="id">
        insert into gs_user_integral_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="tradTime != null">trad_time,</if>
            <if test="credits != null">credits,</if>
            <if test="type != null">type,</if>
            <if test="userId != null">user_id,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="tradTime != null">#{tradTime},</if>
            <if test="credits != null">#{credits},</if>
            <if test="type != null">#{type},</if>
            <if test="userId != null">#{userId},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateGsUserIntegralLog" parameterType="GsUserIntegralLog">
        update gs_user_integral_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="tradTime != null">trad_time = #{tradTime},</if>
            <if test="credits != null">credits = #{credits},</if>
            <if test="type != null">type = #{type},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGsUserIntegralLogById" parameterType="String">
        delete from gs_user_integral_log where id = #{id}
    </delete>

    <delete id="deleteGsUserIntegralLogByIds" parameterType="String">
        delete from gs_user_integral_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>